<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Filters...
            </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input matInput placeholder="Song Name" formControlName="songName">
            </mat-form-field>

            <button mat-raised-button type="submit">Search</button>

            <fieldset>
                <legend>Chart Types</legend>
                <label formArrayName="chartTypes" *ngFor="let name of searchForm.controls.chartTypes.controls; let i = index">
                    <mat-checkbox [formControlName]="i">
                    {{chartTypes[i].name}}</mat-checkbox>
                </label>
            </fieldset>

            <fieldset>
                <legend>Song Types</legend>
                <label formArrayName="songTypes" *ngFor="let name of searchForm.controls.songTypes.controls; let i = index">
                    <mat-checkbox [formControlName]="i">
                    {{songTypes[i].name}}</mat-checkbox>
                </label>
            </fieldset>

            <fieldset>
                <legend>Tags</legend>
                <label formArrayName="songTags" *ngFor="let name of searchForm.controls.songTags.controls; let i = index">
                    <mat-checkbox [formControlName]="i">
                    {{songTags[i].name}}</mat-checkbox>
                </label>
            </fieldset>
            <fieldset>
                <legend>Levels</legend>
                <span>{{searchForm.controls.levels.value[0]}}</span> - <span>{{searchForm.controls.levels.value[1]}}</span>
                <nouislider [connect]="true" [min]="1" [max]="28" [step]="1" [formControl]="searchForm.controls.levels"></nouislider>
            </fieldset>
        </form>
    </mat-expansion-panel>
</mat-accordion>