<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Filters...
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field>
            <input matInput placeholder="Song Name">
        </mat-form-field>

        <button mat-button>Search</button>

        <fieldset>
            <legend>Chart Types</legend>
            <mat-checkbox [(ngModel)]="filters.single">Single</mat-checkbox>
            <mat-checkbox [(ngModel)]="filters.double">Double</mat-checkbox>
            <mat-checkbox [(ngModel)]="filters.singlePerformance">Single Performance</mat-checkbox>
            <mat-checkbox [(ngModel)]="filters.doublePerformance">Double Performance</mat-checkbox>
            <mat-checkbox [(ngModel)]="filters.coop">CO-OP</mat-checkbox>
        </fieldset>

        <fieldset>
            <legend>Song Types</legend>
            <mat-checkbox [(ngModel)]="filters.arcade">Arcade</mat-checkbox>
            <mat-checkbox [(ngModel)]="filters.fullsong">Fullsong</mat-checkbox>
            <mat-checkbox [(ngModel)]="filters.remix">Remix</mat-checkbox>
            <mat-checkbox [(ngModel)]="filters.shortcut">Shortcut</mat-checkbox>
        </fieldset>

        <fieldset>
            <legend>Tags</legend>
            <mat-checkbox [(ngModel)]="filters.original">Original</mat-checkbox>
            <mat-checkbox [(ngModel)]="filters.kpop">K-Pop</mat-checkbox>
            <mat-checkbox [(ngModel)]="filters.world">World</mat-checkbox>
            <mat-checkbox [(ngModel)]="filters.jmusic">J-Music</mat-checkbox>
            <mat-checkbox [(ngModel)]="filters.xross">Xross</mat-checkbox>
            <mat-checkbox disabled [(ngModel)]="filters.unlock">Unlock</mat-checkbox>
        </fieldset>
        <fieldset>
            <legend>Levels</legend>
            <span>{{levels[0]}}</span> - <span>{{levels[1]}}</span>
            <nouislider [connect]="true" [min]="1" [max]="28" [step]="1" [(ngModel)]="levels"></nouislider>
        </fieldset>
    </mat-expansion-panel>
</mat-accordion>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="songName">
        <th mat-header-cell *matHeaderCellDef> Song Name </th>
        <td mat-cell *matCellDef="let song"> {{song.songName}} </td>
    </ng-container>

    <ng-container matColumnDef="banner">
        <th mat-header-cell *matHeaderCellDef> Banner </th>
        <td mat-cell *matCellDef="let song">
            <img src="../../assets/data/img/songid/{{song.id}}.jpg" width="120" height="60" />
        </td>
    </ng-container>

    <ng-container matColumnDef="artist">
        <th mat-header-cell *matHeaderCellDef> Artist </th>
        <td mat-cell *matCellDef="let song"> {{song.artist}} </td>
    </ng-container>

    <ng-container matColumnDef="bpm">
        <th mat-header-cell *matHeaderCellDef> BPM </th>
        <td mat-cell *matCellDef="let song"> {{song.bpm}} </td>
    </ng-container>

    <ng-container matColumnDef="version">
        <th mat-header-cell *matHeaderCellDef> Version </th>
        <td mat-cell *matCellDef="let song"> {{song.version}} </td>
    </ng-container>

    <ng-container matColumnDef="songType">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let song"> {{song.songType}} </td>
    </ng-container>

    <ng-container matColumnDef="tags">
        <th mat-header-cell *matHeaderCellDef> Tags </th>
        <td mat-cell *matCellDef="let song"> {{song.tags}} </td>
    </ng-container>

    <ng-container matColumnDef="chartList">
        <th mat-header-cell *matHeaderCellDef> Charts List </th>
        <td mat-cell *matCellDef="let song">
            <span *ngFor="let chart of song.chartList">
                <img *ngIf="chart.chartType != 'coop' else coopChart" src="../../assets/data/img/level/{{chart.chartType | lowercase}}/{{chart.level}}.gif" width="48" width="48">
                <ng-template #coopChart>
                    <img src="../../assets/data/img/level/{{chart.chartType}}/{{chart.players}}.gif" width="48" width="48">
                </ng-template>
            </span>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>